html {
    height: auto;
}
.img-logo {
    width: 48px;
    padding-right: 16px;
}

#header {
    /* position: fixed;  */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    /* display: block; */
}
#content {
    height: max-content;
    display: block;
}

.margin-24px {
    margin: 24px;
}

.height-200px {
    height: 200px
}
.input-field {
    padding: 24px 24px 0;
}

.background-grey {
    background-color: rgb(182, 178, 178);
}
.padding-left {
    padding-left: 16px;
}

.padding-bottom {
    padding-bottom: 16px;
}

#footer {
    display: block;
} 

.form-outline {
    height: 100%;
}

#stock-name {
    padding-left: 16px;
    padding-top: 8px;
}

.button {
    margin-left: 24px;
    margin-top: 8px;
}   

.tool-btn {
    position: absolute;
    bottom: 8px;
    margin-top: 8px;
}

.tool-section {
    position: relative;
}

/* Chart */

.chart-container {
    width: 80%;
}

/* Nganh table */
.nganh-container {
    padding: 32px;
}

.scroll {
    overflow: scroll;
}

.my-custom-scrollbar {
    position: relative;
    height: 632px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

/* Chart search */
.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1); 
}

.search input{
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
}

.search input:focus{
    box-shadow: none;
    border: 2px solid blue;
}

.search .fa-search{
    position: absolute;
    top: 20px;
    left: 16px;
}

.search button{
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;
}

.margin-bot32px {
    margin-bottom: 32px;
}
/* Chữ nhấp nháy */
.result-cal {
    padding-left: 32px;
    font-size: 32px;
    margin-top: 16px;
    background:#3d3d3d;
    font-size:24px;
    font-weight:bold;
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite; 
    -o-animation: my 700ms infinite; 
    animation: my 700ms infinite;
}

@-webkit-keyframes my {
    0% { color: #F8CD0A; } 
    50% { color: #fff;  } 
    100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
    0% { color: #F8CD0A; } 
    50% { color: #fff; } 
    100% { color: #F8CD0A;  } 
}
@keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
} 
